#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cat-image {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

.cat-image:hover {
  transform: scale(1.1) translateY(-50%);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
}

.button-text {
  font-size: 24px;
  color: rgb(45, 10, 28);
  z-index: 2;
}

.floating-image {
  position: absolute;
  width: 300px;
  animation: float 5s ease-in forwards;
  opacity: 0;
}

@keyframes float {
  0% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1) translate(calc(-50% + var(--randomX)), calc(-50% + var(--randomY)));
  }

  100% {
    transform: scale(1.5) translate(calc(-50% + var(--randomX)), calc(-50% + var(--randomY)));
    opacity: 0;
  }
}